<!DOCTYPE html>
<html>
<head>
    <title>Shubham Nagariya | Portfolio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Hi, I'm Shubham Nagariya</h1>
        <p>Python Developer | Data Analyst | DevOps Learner</p>

        <h2>Projects</h2>
        <ul>
            <li>DevOps Monitoring with Flask + Grafana + Docker</li>
            <li>Interactive Power BI Sales Dashboard</li>
            <li>IAM Automation using BeanShell & SQL</li>
        </ul>

        <h2>Skills</h2>
        <p>Python, SQL, Power BI, Flask, Docker, Git, Jenkins, Linux</p>

        <h2>Resume</h2>
        <a href="/static/Shubham_Resume.pdf" download>Download My Resume</a>
    </div>
</body>
</html>
